WSGIScriptAlias /machadosample /machado/machadosample/wsgi.py
WSGIPythonPath /machado

<Directory "/machado">
<Files "wsgi.py">
    Require all granted
</Files>
</Directory>

Alias /machadosample/static/ /machado/machadosample/static/

<Directory "/machado/machadosample/static">
    Require all granted
</Directory>
